

body{
  margin: 0;
  background-color: #eaf3fa;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

h1{
  font-family: 'Oxygen', sans-serif;
  font-size: 4vw;
}
span{
  color: #00aeff;
}
nav{
  background-color: white;
  display: flex;
  padding: 10px 8%;
}
nav ul{
  display: flex;
  padding: 0;
  margin: auto;
  margin-right: 0%;
}
nav ul li{
  list-style: none;
  text-transform: uppercase;
  margin: 0 10px;
  font-weight: 400;
  padding: 10px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.active{
  border-bottom: 2px solid #00aeff;
}

#app{
  background-color: #00aeff;
  color: white;
}
.info{
  background-color: #fff;
  color: black;
  border-radius: 7px;
  padding: 5px 15px;
  padding-right: 5px;
  margin: 15px 10px;
  display: flex;
  border: 0;
  overflow: hidden;
}
.info:focus-within{
  box-shadow: 0 0 10px 6px #0000001a;
  outline: none;
  /* border: 1px solid white; */
}
.info input,select{
  padding: 5px 0;
  background-color: inherit;
  border: none;
  outline: none;
  width: 90%;
}

.fa{
  padding-right: 3px;
  margin: auto;
}
main{
  display: flex;
  padding-right: 6%;
  overflow: hidden;
}
main img{
  width: 70%;
  object-fit: contain;
}
.main-div{
  margin: auto;
  margin-left: 10px;
  width: 45%;
}
form{
  overflow: hidden;
}
#send{
  background-color: #00aeff;
  width: 96%;
  padding: 10px;
  display: block;
  margin: 30px auto;
  border:  none;
  outline: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  overflow-x: hidden;
}

@media(max-width: 600px){
  .main-div{
    margin-left: auto;
    width: 89%;
  }
}

@media (max-width: 800px){
  nav{
    display: block;
    padding: 10px;
  }
  nav ul li{
    margin: auto;
  }
  main{
    display: block;
    padding: 0;
  }
  h1{
    font-size: 3rem;
  }
  main img{
    width: 100%;
  }
  .main-div{
    margin-left: auto;
    width: 90%;
  }
}